.error {
    background-color:  red;
    color: white;
}

.black-button {
    width: calc(100px * 0.864);
    background-color : #00120B;
    border-radius: 24px;
    color: #D8E4FF;
    font-size: calc(15px * 0.864);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nice-text {
    color: #00120B;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}