{% extends "base/layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
<script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
{% endblock head %}

{% block content %}
<div class="main">
    <p>Login:</p>
    <form action="/login" method="POST">
        <input type="text" placeholder="Student ID" class="studentid" name="studentid">
        <input type="password" placeholder="Password" class="pass" name="pass">
        <p class="status"></p>
        <div class="submit">
            <button class="submit-button black-button" type="button">Login</button>
        </div>
    </form>
    {% if session.get("authed") %}
    <div class="already">
        <p>Already authenticated.</p>
        <button type="button" onclick="logout()">Logout?</button>
    </div>
    {% endif %}
</div>
{% endblock content %}