
{% extends "base/layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup.css') }}">
<script src="{{ url_for('static', filename='js/auth/signup.js') }}"></script>
{% endblock head %}
{% block content %}
<main>
    <p>Signup:</p>
    <form class="form" action="/signup" method="POST">
        <div class="fname">
            <div class="error"></div>
            <input placeholder="First Name" type="text" name="fname" id="fname">
        </div>
        <div class="lname">
            <div class="error"></div>
            <input placeholder="Last Name" type="text" name="lname" id="lname">
        </div>
        <div class="studentid">
            <div class="error"></div>
            <input placeholder="Student ID" type="number" name="studentid" id="studentid">
        </div>
        <div class="pass">
            <div class="error"></div>
            <input placeholder="Password" type="password" name="pass" id="pass">
        </div>
        <div class="repeat_pass">
            <div class="error"></div>
            <input placeholder="Repeat Password" type="password" id="repeat_pass">
        </div>
        <button class="submit-button black-button" type="button">Login</button>
        <div class="generic">
            <div class="error"></div>
        </div>
        <div class="status"></div>
    </form>
</main>
<p class="nice-text help">Passwords must contain at least one digit, one lowercase, one uppercase and one special character </p>
{% endblock content %}