.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .main {
    width: 250px;
    /* height: 200px; */
    transform: translateY(-200px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
}

.content .main * {
    padding: 10px;
}

.content .main form * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.content .main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ; */
}

.content .main .submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .main p {
    color: #00120B;
    font-size: calc(15px * 0.864);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.status {
    text-align: center;
}

.already {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px dotted black;
}

.already button {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}