.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .main {
    width: 250px;
    /* height: 200px; */
    transform: translateY(-200px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
}