.content {
    display: flex;
    flex-direction: row;
    
}

.orders, main, .added-items {
    height: 100%;
}

.orders {
    width: 260px;
    background-color: #99BED2;
}

.added-items {
    width: 260px;
    background-color: #99BED2;
    display: flex;
    flex-direction: column;
}

.added-items .items {
    overflow-y: scroll;
    height: calc(100% - 100px);
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.added-items .items .order-item {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 75%;
    margin-left: calc((100% - 75%)/2);
    margin-right: calc((100% - 75%)/2);
}

.added-items .items .order-item .name {
    flex-grow: 3;
    height: 100%;
    background-color: #6B818C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.added-items .items .order-item .price {
    flex-grow: 1;
    margin-left: 5px;
    height: 100%;
    background-color: #6B818C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.added-items .total {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: x-large;
}

.added-items .total .price {
    font-weight: 700;
    margin-left: 8px;
}

main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

main .title-box {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .form-box {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: row;
}

main .form-box .form-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* transform: translateY(75px); */
    width: 100%;
}

main .form-box .form-content {
    width: 50%;
}

main .form-box .form-content .form-elements form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main .search-item-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: calc(6vh /2);
}

main .item-list {
    overflow-y:scroll;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* height: 90%;
    width: 90%; */
    height: 70%;
    width: 100%;
}

main .form-box .form-content .form-elements {
    width: 100%;
}

main .form-box .form-content .form-elements form button {
    height: 35px;
}

main .search-item-input .name-search input {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
}

main .id-search input {
    width: 54px;
    height: 30px;
}

main .search-item-input .name-search *, .id-search * {
    padding-left: 10px;
}

main .date-sect {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
}

main .date-sect label {
    margin-bottom: 5px;
}

main .date-sect input {
    height: 30px;
    width: 90%;
}

main .date-sect input * {
    padding-left: 10px;
}

main .form-box .item-list-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .form-box .item-list-cont {
    width: 90%;
    height: 88%;
    background-color: #99BED2;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 10px;
    border: black solid;
}

main .form-box .item-list-cont .item-list:first-child {
    margin-top: 20px;
}

main .form-box .item-list-cont .item-list .searched-item {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80%;
    margin-left: calc((100% - 80%)/2);
    margin-right: calc((100% - 80%)/2);
}

main .form-box .item-list-cont .item-list .searched-item .name:hover {
    background-color: #00aaff;
}

main .form-box .item-list-cont .item-list .searched-item .name {
    flex-grow: 3;
    background-color: #6B818C;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .form-box .item-list-cont .item-list .searched-item .price {
    flex-grow: 1;
    background-color: #6B818C;
    height: 100%;
    text-align: center;
    margin-left: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .form-box .item-list-cont .item-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

@media screen and (max-width: 1120px) {
    .orders, .added-items {
        width: 0px;
    }
}

@media screen and (max-width: 560px) {
    .item-list-cont {
        width: 240px !important;
    }
}
